# 开发相关
.vscode/
.idea/
.git/
.husky/
.github/
test/
docs/

# 构建输出
dist/
coverage/
stats.html

# 配置文件
.eslintrc*
.prettierrc*
.editorconfig
tsconfig.json
vite.config.ts
uno.config.ts

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境文件
.env*
!.env.example

# 其他
.DS_Store
node_modules/
*.local